<!-- <div class="quiz-action">
  <div class="quiz-action__icon">
    <img src="../../assets/img/bq1.png" alt="logo" />
  </div>
  <div class="row align-items-center">
    <div class="col-3"></div>
    <div class="col-6">
      <progressbar
        [value]="progress"
        type="danger"
        [striped]="true"
      ></progressbar>
    </div>
    <div class="col-3 text-end">
      <button
        class="btn btn-lg btn-light text-uppercase fw-bold"
        (click)="nextQuestion()"
      >
        Next Question
      </button>
    </div>
  </div>
</div> -->
