<section class="quiz">
  <div class="row">
    <div class="col-12 quiz-wrapper">
      <div class="row">
        <!-- Boostrap column offset: https://getbootstrap.com/docs/5.0/layout/columns/#offsetting-columns  -->
        <div class="col-lg-6 offset-lg-3">
          <!-- Quiz Title -->
          <div class="quiz-title text-center">
            <div class="quiz-title__subtitle">Question 1</div>
            <h1 class="fw-bold">Start Quiz</h1>
            <p class="quiz-title__description">
              User interface design. One Awesome Flat Ui Kit in Psd format. The
              pack ... Quiz App is a mobile UI kit created using Sketch and
              Photoshop, aimed to help you kick start your next mobile quiz or
              trivia project
            </p>
          </div>
          <!-- Quiz Title End -->
        </div>

        <!-- Quiz Answers -->
        <div class="col-lg-8 offset-lg-2">
          <div class="row">
            <div
              class="col-lg-6 mb-3 quiz-answer"
              [class.selected]="item.key == '1'"
              *ngFor="let item of answers | keyvalue"
            >
              <div class="card" [class.shadow]="item.key == '1'">
                <div class="card-body d-flex flex-nowrap align-items-center">
                  <div class="quiz-answer__number">
                    {{ item.key }}
                  </div>
                  <div class="quiz-answer__text">
                    {{ item.value | lowercase }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Quiz Answers END -->
      </div>
    </div>
  </div>
  <div class="quiz-actions">
    <div class="quiz-actions__icon">
      <img src="../../assets/img/bq1.png" />
    </div>
    <div class="row align-items-center">
      <div class="col-3"></div>

      <div class="col-6">
        <progressbar
          [value]="progress"
          type="danger"
          [striped]="true"
        ></progressbar>
      </div>

      <div class="col-3 text-end">
        <button
          class="btn btn-lg btn-light text-uppercase fw-bold"
          (click)="nextQuestion()"
        >
          Next Question
        </button>
      </div>
    </div>
  </div>
</section>
