/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

body {
  background-image: url(assets/img/qbg.jpeg);
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
}
